<tr class="{{id}}">
  <td id="{{id}}" class="hidden">{{id}}</td>
  <td class="name">{{name}}</td>
  <td class="text-center col-md-2 reps">{{reps}}</td>
  <td class="text-center col-md-2 weight">{{weight}}</td>
  <td class="units">{{#if lbs}}lbs{{else}}kgs{{/if}}</td>
  <td class="text-center date">{{dateFormat date "YYYY-MM-DD"}}</td>
  <td class="edit-buttons text-right">
    <button class="btn btn-default editWorkout" role="button" type="button" name="button" data-toggle="modal" data-target=".bs-example-modal-lg">Edit</button>
    <button class="btn btn-danger deleteWorkout" type="button" name="button"><span class="" aria-hidden="true">&times;</span></button>
  </td>
</tr>
