<div class="container-fluid text-center">
  <h1>Workout Tracker</h1>
</div>

<div class="container-fluid col-md-offset-2">
    <form class="form-inline">
        <div class="row">
          <div class="form-group ">
            <input type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group ">
            <input type="number" class="form-control" id="reps" placeholder="Reps">
          </div>
          <div class="form-group ">
            <input type="number" class="form-control" id="weight" placeholder="Weight">
          </div>
          <div class="form-group ">
            <select class="form-control" name="" id="units">
              <option value="1">lbs</option>
              <option value="0">kgs</option>
            </select>
          </div>
          <div class="form-group ">
            <input type="date" class="form-control" id="date" placeholder="">
          </div>
          <button id="addWorkout" class="btn btn-default" role="button" type="button" name="button">+</button>
          <button id="reset" class="btn btn-danger" type="button" name="button"><span class="" aria-hidden="true">&times;</span></button>
        </div>
    </form>
</div>

<div class="container table-responsive">
  <table id="workoutTable" class="table table-hover table-condensed">
    <thead>
      <th class="hidden">ID</th>
      <th>NAME</th>
      <th class="text-center col-md-2">REPS</th>
      <th class="text-center col-md-2">WEIGHT</th>
      <th>UNITS</th>
      <th class="text-center">DATE</th>
    </thead>
    <tbody>
    {{#if results}}
    {{#each results}}
    <tr class="{{id}}">
      <td id="{{id}}" class="hidden">{{id}}</td>
      <td class="name">{{name}}</td>
      <td class="text-center col-md-2 reps">{{reps}}</td>
      <td class="text-center col-md-2 weight">{{weight}}</td>
      <td class="units">{{#if lbs}}lbs{{else}}kgs{{/if}}</td>
      <td class="text-center date">{{dateFormat date "YYYY-MM-DD"}}</td>
      <td class="edit-buttons text-right">
        <button class="btn btn-default editWorkout" role="button" type="button" name="button" data-toggle="modal" data-target=".bs-example-modal-lg">Edit</button>
        <button class="btn btn-danger deleteWorkout" type="button" name="button"><span class="" aria-hidden="true">&times;</span></button>
      </td>
    </tr>
    {{/each}}
    {{/if}}
  </tbody>
  </table>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

{{#if tableReset}}
<div class="container-fluid text-center text-success">
  <h3>
    {{tableReset}}
  </h3>
</div>
{{/if}}

<div class="container-fluid text-center">
  <a href="/" class="btn btn-default" type="button" name="button">Home</a>
  <a href="/reset-table" class="btn btn-danger" type="button" name="button">Reset Table</a>
</div>
